<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
	<connectionStrings>
		<add name="ExcelReader"
		     connectionString="Data Source=localhost;Initial Catalog=ExcelReader;Integrated Security=True;TrustServerCertificate=True;"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>